<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header class="header">
        {{ page.header }}
        <nav class="menu">
            {{ page.menu }}
        </nav>
    </header>


    <main class="main">
        <div class="content">
            {{ page.content }}
        </div>
        {% if page.sidebar %}
        <div class="sidebar">
            {{ page.sidebar }}
        </div>
        {% endif %}
    </main>

    <footer class="footer">
    {{ page.footer }}
    </footer>
</body>
</html>